
@{
    ViewBag.Title = "Condiciones";
}

<h2>AVISO DE PRIVACIDAD  </h2>

<p>
E-Servercom , con domicilio en Venustiano Carranza 212, colonia Col. Tequisquiapan, San Luis Potosí,S.L.P, es el responsable del uso y protección de sus datos personales, y al respecto le informamos que de conformidad con lo establecido en los artículos 2, 6, 7, 8, 9, 11, 12, 14, 15, 16, 17, 19, 29, 36 y demás relativos de la Ley Federal de Protección de Datos Personales en Posesión de los Particulares, los datos personales que recabamos de usted, los utilizaremos para el desarrollo y ejecución del programa, servicio y/o actividad que solicita.  

El propósito de recabar, procesar y almacenar sus datos personales por parte de E-Servercom comprende las siguientes finalidades:  

Dar a conocer y promover los servicios, productos y promociones que manejamos.  

Dar a conocer y promover la participación en programas y actividades que organizan Instituciones a las que se encuentra afiliado E-Servercom.  

Contactar y localizar a las personas que muestren interés en nuestros servicios y/o participar en los programas y demás actividades que organizan Instituciones a las que se encuentra afiliado E-Servercom, así mismo atender a las solicitudes de información sobre los mismos.  

Entregar comprobantes fiscales por concepto de compra de nuestros servicios y/o productos.  

Los datos personales que E-Servercom recaba de forma directa, por escrito, vía telefónica y a través de medios electrónicos tales como correo electrónico y página de internet, para llevar a cabo las finalidades descritas en el presente Aviso de Privacidad, son los siguientes:  

Nombre  

Teléfono(s)  

Correo electrónico  

Servicio contratado  

Datos para facturación  

Todos los datos personales proporcionados serán registrados en medios físicos y/o electrónicos. La información personal que usted proporciona se almacena en bases de datos controladas y con acceso limitado, a efecto de evitar un tratamiento indebido de los mismos. De igual modo E-Servercom utiliza medidas de seguridad técnica y de organización, a fin de proteger sus datos, de manipulación casual o deliberada, pérdida, destrucción o acceso por personas no autorizadas, para evitar el mal uso de sus datos personales por terceros.  

En virtud de que usted tiene derecho a conocer qué datos personales tenemos de usted, para qué los utilizamos y las condiciones del uso que les damos (Acceso), le informamos que, es su derecho solicitar la corrección de su información personal en caso de que esté desactualizada, sea inexacta o incompleta (Rectificación); que la eliminemos de nuestros registros o bases de datos cuando considere que la misma no está siendo utilizada conforme a los principios, deberes y obligaciones previstas en la normativa (Cancelación); así como oponerse al uso de sus datos personales para fines específicos (Oposición). Estos derechos se conocen como derechos ARCO (acceso, rectificación, cancelación u oposición). Para conocer el procedimiento y requisitos para el ejercicio de los derechos ARCO, usted podrá contactarnos en el siguiente número telefónico 01 871 111 0454, o enviarnos un correo electrónico a servicioalcliente@minegocioenweb.mx, para ponerse en contacto con la responsable de la privacidad de datos de E-Servercom, que dará trámite a las solicitudes para el ejercicio de estos derechos, y atenderá cualquier duda que pudiera tener respecto al tratamiento de su información.  

Para ejercer los derechos ARCO usted deberá presentar la solicitud respectiva por escrito mediante correo electrónico dirigido a la responsable de la privacidad de datos de E-Servercom. La solicitud deberá contener y acompañar: a) nombre del titular y domicilio u otro medio para comunicarle la respuesta a su solicitud; b) documentos que acrediten la identidad o, en su caso, la representación legal del titular; c) descripción clara y precisa de los datos personales respecto de los que se busca ejercer alguno de los derechos antes mencionados, y d) cualquier otro elemento o documento que facilite la localización de los datos personales.  

E-Servercom se compromete a mantenerlo informado sobre los cambios que pueda sufrir el presente Aviso de Privacidad, a través de la publicación del mismo en la página de internet www.minegocioenweb.mx o en caso de obtener los datos de forma personal y directa, será facilitado en el momento en que sean obtenidos los datos, a través de los formatos impresos respectivos. Última actualización [09/11/2020].  
</p>

